/* Google font - Roboto */
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Navbar brand styles */
.navbar-brand {
    font-weight: 500;
    color: #5f8db0;
    font-size: 24px;
    transition: 0.3s color;
}

/* Navbar toggler button styles */
.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

/* Focus styles for navbar toggler and close button */
.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

/* Navigation link styles */
.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

/* Hover and active state styles for navigation links */
.nav-link:hover,
.nav-link:active {
    color: #000;
}

/* Styles for pseudo-element before navigation links */
@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 0;
        height: 2px;
        background-color: #082841;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    /* Hover and active state styles for pseudo-element before navigation links */
    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

/* Hero section styles */
.hero-section {
    background: url(../assets/hero.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

/* Overlay styles for hero section */
.hero-section::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Container styles within hero section */
.hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

/* Heading styles within hero section */
.hero-section h1 {
    /* Font size for larger screens */
    font-size: 1.5em;
}

/* Subheading styles within hero section */
.hero-section h2 {
    /* Font size for larger screens */
    font-size: 0.7em;
}

/* Center the "down" button & "Learn More" text horizontally*/
/* Position button & text at the bottom */
.hero-section .btn-scroll-down,
.hero-section .learn-more {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Style the "Learn More" text */
.hero-section .learn-more {
    color: #fff;
    /* Font size for larger screens */
    font-size: 0.4em;
    margin-bottom: 60px;
}

/* Media query for smaller devices */
@media (max-width: 575.98px) {

    /* Adjust font sizes for smaller devices */
    .hero-section h1 {
        font-size: 1.4em;
    }

    .hero-section h2 {
        font-size: 0.7em;
    }

    .hero-section .learn-more {
        font-size: 0.5em;
    }

    /* Adjust button sizes for smaller devices */
    .hero-section .btn {
        padding: 4px 8px;
    }
}

/* Media query for even smaller devices */
@media (max-width: 360px) {

    /* Adjust font sizes for even smaller devices */
    .hero-section h1 {
        font-size: 1.3em;
    }

    .hero-section h2 {
        font-size: 0.65em;
    }

    .hero-section .learn-more {
        font-size: 0.5em;
    }

    /* Adjust button sizes for even smaller devices */
    .hero-section .btn {
        padding: 1px 3px;
    }
}

/* Position for scroll-to-top button */
.fixed-bottom-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* Initially hide the button */
    display: none;
    transition: opacity 0.3s ease;
    /* Ensure it appears above other elements */
    z-index: 999;
}

.fixed-bottom-right.show {
    display: block;
    opacity: 1;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
    0% {
        /* Initial opacity */
        opacity: 0;
    }

    100% {
        /* Final opacity */
        opacity: 1;
    }
}

/* Fade-in animation styles */
.fade-in {
    animation: fadeIn 2s ease-in-out;
}

/* Custom animation for counting */
@keyframes count-up {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply animation to the number */
.animated-number {
    animation: count-up 1.5s ease-out forwards;
}

/* Styles for form controls when focused */
.form-control:focus {
    border-color: #0d6efd;
    box-shadow: inset 0 1px 1px rgba(13, 110, 253, 1), 0 0 8px rgba(13, 110, 253, 1);
}

/* Media query for smaller screens */
@media (max-width: 575.98px) {

    /* Center-align the social media icons */
    .footer-social {
        text-align: center;
    }

    /* Add margin to the social media icons */
    .footer-social .btn {
        margin: 5px;
    }

    /* Adjust size of social media icons for smaller screens */
    .footer-social .btn i {
        font-size: 0.9rem;
    }

    /* Center-align the copyright notice */
    .footer-copyright {
        text-align: center;
    }
}

/* Media query for even smaller screens */
@media (max-width: 360px) {

    /* Center-align the social media icons */
    .footer-social {
        text-align: center;
    }

    /* Add margin to the social media icons */
    .footer-social .btn {
        margin: 5px;
    }

    /* Adjust size of social media icons for even smaller screens */
    .footer-social .btn i {
        font-size: 0.8rem;
    }

    /* Center-align the copyright notice */
    .footer-copyright {
        text-align: center;
    }
}